/* public/css/tablas.css */

.report-table {
    width: 100%;
    border-collapse: collapse;
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.report-table th {
    background-color: #04AA6D;
    color: white;
}

.report-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.report-table tr:hover {
    background-color: #ddd;
}
